<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Mbx - Dashboard</title>
    </head>
    <body>
        <h1>{{ data }}</h1>
        <h2>Controllers</h2>
        <ul>
            {% for controller in controllers %}
                <li>{{ controller.name | title }}</li>
                <ul>
                    {% for name, action in controller.controllers %}
                        {% if not action
                            .name
                            .startsWith("_") %}
                            <li>{{ action.name | title }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endfor %}
    </ul>
</body>
</html>